<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="keywords" content="acpr, workshop, computer vision, computer graphics, visual learning, simulation environments, robotics, machine learning, reinforcement learning">

  <link rel="shortcut icon" href="{{ "/static/img/ico/favicon.png" | prepend:site.baseurl }}">



  <title>{{ page.urltitle }}</title>
  <meta name="description" content="{{site.description}}">

  <!--Open Graph Related Stuff-->
  <meta property="og:title" content="3D Reconstruction and Interactive Augmented Reality (3IAR)"/>
  <meta property="og:url" content="https://3iar.github.io/"/>
  <meta property="og:description" content="{{site.description}}"/>
  <meta property="og:site_name" content="3D Reconstruction and Interactive Augmented Reality (3IAR)"/>
  <meta property="og:image" content=""/>
  <meta property="og:image:url" content=""/>

  <!--Twitter Card Stuff-->
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:title" content="3D Reconstruction and Interactive Augmented Reality (3IAR)"/>
  <meta name="twitter:image" content="https://3iar.github.io/static/img/splash.png">
  <meta name="twitter:url" content="https://3iar.github.io"/>
  <meta name="twitter:description" content="{{site.description}}"/>

  <!-- CSS  -->
  <link rel="stylesheet" type="text/css" href="{{ "/static/css/bootstrap.min.css" | prepend:site.baseurl }}">
  <link rel="stylesheet" type="text/css" href="{{ "/static/css/main.css" | prepend:site.baseurl }}" media="screen,projection">
</head>
